.calcu{
    width: 30%;
    height: 430px;
    background-color: grey;
    margin-left:7em;
    
}
.text{
    width: 356px;
    height: 50px;
    margin: 19px;
    pointer-events: none;
}
.buttons{
    margin-left: 3px;
}
.btn{
    width: 46px;
    height: 45px;
    margin-left: 3em;
    margin-top: 1em;
    border-radius: 9px;
}

.btnop{
    width: 46px;
    height: 45px;
    margin-left: 3em;
    margin-top: 1em;
    background-color: rgb(175, 98, 230);
}
.btn1{
    width: 46px;
    height: 45px;
    margin-left: 3em;
    margin-top: 1em;
    background-color: khaki;
    color: white;
}